html, body { 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
}


div {

    color: blue;
}


.left {

    display: grid;
    background-color: lightgrey;
    grid-template-rows: 60px 45px 40px 140px 195px 195px;


}
.right {
    display: grid;
    background-color: lightgrey;
    grid-template-rows: 45px 25px 25px 25px 25px 25px;

}

.big-middle {
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-gap: 20px;
}

.middle {
    display: grid;
    grid-template-rows: 45px 1fr;
}

